<div>
  <button class="btn btn-primary" type="button" (click)="openModal(newAccessKey)">Add New Key</button>
</div>

<table class="table small align-middle">
  <thead>
  <tr>
    <th>Port</th>
    <th scope="col">Name</th>
<!--    <th scope="col">Port</th>-->
    <!--    <th scope="col">Method</th>-->
    <th scope="col">Limit</th>
    <th scope="col">Price</th>
    <th scope="col" class="text-center">More</th>
    <th scope="col" class="text-center">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let accessKey of accessKeys">
    <!--    <th scope="row">{{ accessKey.id }}</th>-->
    <td style="width: 80px;">{{ accessKey.port }}</td>
    <td>{{ accessKey.name }}</td>
    <!--    <td>{{ accessKey.method }}</td>-->
    <td>{{ accessKey.limit }} GB</td>
    <td>{{ accessKey.limit * 2000 | currency:'IRR':' ':'3.0-0' }} TOMAN</td>
    <td class="text-center">
      <button (click)="copyOutline(accessKey)" class="btn btn-sm btn-success">
        Outline
      </button>
      <button (click)="copyShadowSocks(accessKey)" class="btn btn-sm btn-secondary ms-2">
        ShadowSocks
      </button>
    </td>
    <td class="text-center">
      <button class="btn btn-sm btn-danger d-inline-flex justify-content-center align-items-center" type="button"
              (click)="deleteKey(accessKey)">
        <ng-icon name="heroTrashSolid" size="16px" class="d-inline-flex align-items-center justify-content-center"/>
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>


<ng-template #newAccessKey role="document" let-modal>
  <form [formGroup]="createKeyFormGroup" (ngSubmit)="createKey()">
    <div class="modal-header">Add New Access Key</div>
    <div class="modal-body">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        <label for="name">Name</label>
      </div>
      <!--<div class="form-floating mb-3">
        <input type="text" class="form-control" id="method" readonly placeholder="Method" formControlName="method">
        <label for="method">Method</label>
      </div>-->
      <!--<div class="form-floating mb-3">
        <input type="text" class="form-control" id="password" placeholder="Name" formControlName="password">
        <label for="password">Password</label>
      </div>-->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="port" placeholder="Name" formControlName="port">
        <label for="port">Port</label>
      </div>
      <div class="input-group mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="limit" placeholder="Name" formControlName="limit">
          <label for="limit">Limit</label>
        </div>
        <span class="input-group-text">GB</span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit">ADD KEY</button>
    </div>
  </form>
</ng-template>
